.columnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.columnas img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.columnas p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

body {
  background-image: url('https://yt3.googleusercontent.com/ytc/AIdro_k7HIcDPNUlJfIrbI0PcRbY6MqemMEP5Gc3qdOaKDa8N5o=s900-c-k-c0x00ffffff-no-rj');
  background-size: cover;
  background-position: center;
}

.franja-superior {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.informacion {
  padding: 20px;
}

.linea-separadora {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.columnas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columna-izquierda {
  width: 50%;
  padding: 20px;
}

.columna-derecha {
  width: 50%;
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}
