
img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.menu-btn {
  background-color: #333;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.menu-btn span:last-child {
  margin-bottom: 0;
}
