body {
font-family: Arial, sans-serif;
color: #fff;
background-color: #000;
margin: 0;
padding: 0;
}

header {
background-color: #333;
padding: 20px;
text-align: center;
}

header img {
width: 100px;
height: 100px;
margin: 20px auto;
border-radius: 50%;
}

main {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

section {
background-color: #444;
padding: 20px;
margin-bottom: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section h2 {
color: #fff;
margin-top: 0;
}

section img {
width: 100%;
height: 150px;
margin-bottom: 10px;
border-radius: 10px;
}

section a {
color: #fff;
text-decoration: none;
}

footer {
background-color: #333;
padding: 10px;
text-align: center;
}

footer nav ul {
list-style: none;
margin: 0;
padding: 0;
}

footer nav ul li {
display: inline-block;
margin-right: 10px;
}

footer nav a {
color: #fff;
text-decoration: none;
}

.contenido-centralizado {
margin-left: 0;
padding-right: 0;
text-align: center;
width: 100%;
position: relative;
}

.contenido-centralizado ul {
list-style: square inside;
padding: 0 auto;
margin: 0 auto;
}

.home-icon {
  position: relative;
  left: 0;
  top: 0;
}

@media only screen and (min-width: 768px) {
  /*Estilos para ordenadores/
  header img {
    width: 200px; /Ajusta el ancho de la imagen/
    height: 200px; /Ajusta el alto de la imagen/
  }

  section img {
    width: 50%; /Ajusta el ancho de la imagen/
      height: 300px; /Ajusta el alto de la imgen*/
}

