html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;/* Fondo blanco/
}

  .conteiner {
  width: 800px;
  margin: 40px auto;
  background-color: #FFFFFF;/Fondo blanco/
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0,1);
  }

  h1 {
  color: #FF0000;/Color rojo/
  font-size: 36px;
  margin-bottom: 10px;
  }

  p {
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
  }

  .logo {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-color: #FFFFFF;/Fondo blanco*/
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  }

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

p {
  font-size: 10px;
  margin-top: 0;
}

.menu-btn {
  background-color: #333;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.menu-btn span:last-child {
  margin-bottom: 0;
}
